<%- include ('./partials/header') ;%>

<%- include ('./partials/navbar') ;%>

<!-- form -->
<br>
<div class="container">
    <h2>Ask anything..</h2>
    <hr>

    <form method="POST" action="/asked" class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control"><br>
        <label for="">Description</label>
        <textarea name="description" class="form-control" cols="30" rows="5"></textarea>
        <br>
        <button class="btn btn-success" type="submit">ask</button>
    </form>
</div>

<%- include ('./partials/footer') ;%>